nav {
  background-color: grey;
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  color: white;
  display: block;
  padding: 15px;
  width: 200px;
  float: left;
}

.navbar {
  margin-left: 200px;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left
}

li a {
  display: block;
  padding: 15px;
  background-color: #dddddd;
  text-decoration: none;
}

.page {
  margin-top: 75px
}

.sidebar {
    float: left;
    width: 200px;
}

.sidelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: green;
}

.sidelist li {
    padding: 10px;
    margin: black;
}

.content {
    margin-left: 220px;
    margin-right: 100px;
}
